section{
    width: 100%;
    min-height: 100svh;
    overflow: hidden;
    position: relative;
}


section div{
    width: 100%;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


section div h1{
    text-align: center;
    line-height: .85;
    text-transform: uppercase;
    letter-spacing: -2%;
    font-size: 9vw;
    width: 75%;
}

section div h2{
    text-align: center;
    font-weight: 400;
    font-size: 4vw;
    margin-top: 2vw;
}