*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body{
  width:100%;
  height: 100%;
  font-family: 'Neue Montreal',sans-serif;
  overflow: hidden;
}

main{
  width: 100%;
}

section{
  width:100vw;
  height: 100vh;
  background-color: #F8F9FA;
}

img{
  width:100%;
  height: 100%;
  object-fit: cover;
}


section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-container{
  position: absolute;
  top:50%;
  left:40%;
  transform: translate(-50%, -50%);
  width: 0%;
  height: 60%;
  z-index: 2;
}

:root{
  --y:-50%;
  --s:1;
  --shiftAmount:140px;
}

/*
.card{
  width:19vw;
  height:26vw;
  position: absolute;
  top:35%;
  border-radius: 2em;
  overflow: hidden;
  cursor: pointer;
  transform: translate(var(--offset), var(--y))
  rotate(var(--angle)) scale(var(--s));
  z-index: var(--z);
  transform-origin: bottom center;
  transition: transform .4s cubic-bezier(.25,.8,.25,1);
}
*/

.card{
  width:19vw;
  height:26vw;
  position: absolute;
  top:35%;
  border-radius: 2em;
  overflow: hidden;
  cursor: pointer;

  transform:
    translate(calc(var(--offset) + var(--shift, 0px)), var(--y))
    rotate(var(--angle))
    scale(var(--s));

  z-index: var(--z);
  transform-origin: bottom center;
  transition: transform .45s cubic-bezier(.16,1,.3,1);
}


.card-container:has(.card:hover) .card {
  --s: 0.95;
}


.card:hover{
  --y:-70%;
}

.card-container:has(.card:nth-child(1):hover)
.card:nth-child(n+2){
  --shift: var(--shiftAmount);
}

.card-container:has(.card:nth-child(2):hover)
.card:nth-child(1){
  --shift: calc(var(--shiftAmount) * -1);
}

.card-container:has(.card:nth-child(2):hover)
.card:nth-child(n+3){
  --shift: var(--shiftAmount);
}


.card-container:has(.card:nth-child(3):hover)
.card:nth-child(-n+2){
  --shift: calc(var(--shiftAmount) * -1);
}

.card-container:has(.card:nth-child(3):hover)
.card:nth-child(n+4){
  --shift: var(--shiftAmount);
}


.card-container:has(.card:nth-child(4):hover)
.card:nth-child(-n+3){
  --shift: calc(var(--shiftAmount) * -1);
}

.card-container:has(.card:nth-child(4):hover)
.card:nth-child(n+5){
  --shift: var(--shiftAmount);
}


.card-container:has(.card:nth-child(5):hover)
.card:nth-child(-n+4){
  --shift: calc(var(--shiftAmount) * -1);
}

.card-container:has(.card:nth-child(5):hover)
.card:nth-child(n+6){
  --shift: var(--shiftAmount);
}


.card-container:has(.card:nth-child(6):hover)
.card:nth-child(-n+5){
  --shift: calc(var(--shiftAmount) * -1);
}

.card-container:has(.card:nth-child(6):hover)
.card:nth-child(n+7){
  --shift: var(--shiftAmount);
}


.card-container:has(.card:nth-child(7):hover)
.card:nth-child(-n+6){
  --shift: calc(var(--shiftAmount) * -1);
}


.heading{
  position: absolute;
  top:60%;
  z-index: 20;
}

.heading h2{
  font-size: 10vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  line-height: .85;
}

.heading h2 span{
  color:#f7a2f7;
}

@media (max-width:1000px) {
  :root{
    --shiftAmount:60px;
  }
  .card-container{
    top:60%;
    left:35%;
  }
  .card{
    width:16vh;
    height: 25vh;
    border-radius: 1em;
  }

  .heading{
    top:78%;
  }

  .heading h2{
    font-size: 5.3rem;
  }
}



